body{
    /* margin: 0; */
}

.banner{
    background: url(../img/pattern.png);
    background-size: 35%;
    height: 120px;
    background-color: rgb(97, 159, 230);
    padding: 0;
}
.logo{
    width: 200px;
    margin-top: 50px;
}
h1{
    font-size: 45px;
    margin: 5px;
}
h3{
    color: grey;
    margin: 5px;
}
span{
    color: rgb(97, 159, 230);
}
h4{
    color: grey;
    margin: 5px;
}

.tim-pic1{
    width: 50%;
}
.tim-pic2{
    width: 43%;
}