.banner{
    background: url(../img/pattern.png);
    background-size: 35%;
    height: 120px;
    background-color: rgb(97, 159, 230);
    padding: 0;
}
.logo{
    width: 200px;
    margin-top: 50px;
}